<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- title -->
    <title>/index</title>
    <!-- style -->
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
    <style>
        body {
            background: lightgrey;
            color: black;
            font-family: "Hack", monospace;
            font-size: 18px;
            padding: 2rem;
        }
        h1,
        p {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        textarea {
            background: white;
            color: black;
            min-width: 100%;
            min-height: 240px;
            font-family: "Hack", monospace;
            font-size: 18px;
            border: none;
            padding: 1rem;
            box-sizing: border-box;
            border-radius: 1rem;
        }
        textarea:hover {
            outline: 2px solid darkturquoise;   
        }
        textarea:focus {
            outline: 2px solid turquoise;   
        }
    </style>
</head>
<body>
    <h1><%= @greeting %></h1>
    <p>Github: <a href="https://github.com/mrsjoberg/pasby">github.com/mrsjoberg/pasby</a></p>
    <!-- editor -->
    <textarea id="editor"></textarea>
    <!-- outputs -->
    <p><strong>Characters:</strong> <span id="characters">0</span></p>
    <p><strong>Tokens:</strong> <span id="tokens">[]</span></p>
    <p><strong>AST:</strong> <span id="ast">[]</span></p>
    <p><strong>Issues:</strong> <span id="issues">[]</span></p>
    <p><strong>Output:</strong> <span id="result"></span></p>
    <!-- update -->
    <script>
        // helpers
        // String.prototype.replaceAt = function(index, replacement) {
        //     return this.substring(0, index) + replacement + this.substring(index + replacement.length);
        // }
        // editor
        const editor = document.getElementById("editor");
        editor.addEventListener("input", function() {
            const input = editor.value;
            // send to server
            fetch("/update", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ input }),
            }).then(response => {
                if (!response.ok) {
                    throw new Error("something went wrong?")
                }
                return response.json();
            }).then(data => {
                // console.log(data)
                document.getElementById("characters").innerHTML = data.characters;
                document.getElementById("tokens").innerHTML = data.tokens;
                document.getElementById("ast").innerHTML = data.ast;
                document.getElementById("issues").innerHTML = data.issues;
                document.getElementById("result").innerHTML = data.result;
                // add issues to text
                // JSON.parse(data.issues).forEach(item => {
                //     document.getElementById("editor").value = document.getElementById("editor").value.replaceAt(item.pos, "?");
                // });
            }).catch(error => {
                console.error(error);
            });
        });
    </script>
</body>
</html>