<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- title -->
    <title>/index</title>
    <!-- style -->
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
    <style>
        body {
            background: lightgrey;
            color: black;
            font-family: "Hack", monospace;
            font-size: 18px;
            padding: 2rem;
        }
        textarea {
            background: white;
            color: black;
            min-width: 100%;
            min-height: 240px;
            font-family: "Hack", monospace;
            font-size: 18px;
            border: none;
        }
        textarea:hover {
            outline: 4px solid turquoise;   
        }
        textarea:focus {
            outline: 4px solid darkturquoise;   
        }
    </style>
</head>
<body>
    <h1><%= @greeting %></h1>
    <!-- editor -->
    <textarea id="editor"></textarea>
    <!-- output -->
    <p><strong>Characters:</strong> <span id="characters">0</span></p>
    <p><strong>Tokens:</strong> <span id="tokens">[]</span></p>
    <p><strong>AST:</strong> <span id="ast">[]</span></p>
    <!-- update -->
    <script>
        const editor = document.getElementById("editor");
        // const output = document.getElementById("output");
        // event listener
        editor.addEventListener("input", function() {
            const input = editor.value;
            // send to server
            fetch("/update", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ input }),
            }).then(response => {
                if (!response.ok) {
                    throw new Error("something went wrong?")
                }
                return response.json();
            }).then(data => {
                // console.log(data)
                // update output
                // output.innerHTML = data;
                document.getElementById("characters").innerHTML = data.characters;
                document.getElementById("tokens").innerHTML = data.tokens;
                document.getElementById("ast").innerHTML = data.ast;
            }).catch(error => {
                console.error(error);
            });
        });
    </script>
</body>
</html>